.Detail{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 999;
	overflow-x: hidden;
}
.Detail .headTop{
	padding: .62rem .4rem .2rem .4rem;
	width: 7.5rem;
	height: 3.44rem;
	box-sizing: border-box;
	text-align: center;
	font-size: .46rem;
	color: #fff;
	background-image: linear-gradient(0deg, #524bf6 0%, #443ded 100%), linear-gradient(#e44e3d, #e44e3d);
	opacity: 0.76;
}
.Detail .headTop .back{
	display: inline-block;
	width: .22rem;
	height: .36rem;
	background: url(../../src/assets/images/back_01.png) no-repeat left top;
	background-size: 100%;
	position: absolute;
	top: .75rem;
	left: .4rem;
}
.Detail .detailInfo{
	width: 6.7rem;
	height: 3rem;
	box-shadow: 0px 4px 22px 2px rgba(58, 58, 58, 0.15);
	border-radius: .1rem;
	position: absolute;
	top: 2.23rem;
	left: 50%;
	margin-left: -3.35rem;
	z-index: 9999;
	background: #fff;
	font-size: .36rem;
}
.Detail .detailInfo .top{
	 margin: 0 .2rem;
	 padding: .12rem 0 .38rem 2.06rem;
	 border-bottom: 1px solid #f6f7f7;
}
.Detail .detailInfo .top div{
	width: 1.46rem;
	height: 1.46rem;
	position: absolute;
	top: -.56rem;
	left: .55rem;
}
.Detail .detailInfo .top img{
	width: 1.46rem;
	height: 1.46rem;
}
.Detail .detailInfo .top span{
	font-size: .36rem;
	font-weight: bold;
}
.Detail .detailInfo .top p{
	font-size: .24rem;
	color: #999;
	margin-top: .05rem;
	height: .9rem;
}
.Detail .detailInfo .top ul{
	display: flex;
	margin-top: -.1rem;
}
.Detail .detailInfo .top ul li{
	font-size: .24rem;
	padding: .1rem;
	border: 1px solid red;
	border-radius: .5rem;
	margin-right: .1rem;
	color: red;
}
.Detail .detailInfo .bottom ul{
	display: flex;
	margin-top: .1rem;
}
.Detail .detailInfo .bottom ul li{
	text-align: center;
}
.Detail .detailInfo .bottom ul li:first-child{
	flex: 1;
}
.Detail .detailInfo .bottom ul li:nth-child(2){
	flex: 1;
}
.Detail .detailInfo .bottom ul li:last-child{
	flex: 2;
}
.Detail .detailInfo .bottom ul li span{
	font-size: .24rem;
	color: #818080;
}
.Detail .detailInfo .bottom ul li p{
	font-size: .32rem;
	color: #1d1d1d;
	margin-top: .02rem;
}
.Detail .detailInfo .bottom ul li:last-child p{
	width:2.94rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: .3rem;
}
.Detail .explain{
	width: 6.7rem;
	/* height: 7rem; */
	box-shadow: 0px 4px 22px 2px rgba(58, 58, 58, 0.15);
	border-radius: .1rem;
	margin: 0 auto;
	margin-top: 2.9rem;
	padding-left: .26rem;
	padding-top: .1rem;
	box-sizing: border-box;
}
.Detail .explain ul li{
	font-size: .3rem;
	padding: .2rem 0;
}
.Detail .explain ul li p{
	font-size: .3rem;
	color: #333;
	font-weight: bold;
}
.Detail .explain ul li p i{
	display: inline-block;
	margin-right: .2rem;
}
.Detail .explain ul .addUp p i{
	width: .27rem;
	height: .31rem;
	background: url(../../src/assets/images/person.png) no-repeat left top;
	background-size: 100%;
}
.Detail .explain ul .addUp{
	font-size: .24rem;
	color: #666;
}
.Detail .explain ul .applyCondition p i{
	width: .28rem;
	height: .32rem;
	background: url(../../src/assets/images/pic_01.png) no-repeat left top;
	background-size: 100%;
}
.Detail .explain ul .auditMode p i{
	width: .25rem;
	height: .29rem;
	background: url(../../src/assets/images/pic_02.png) no-repeat left top;
	background-size: 100%;
}
.Detail .explain ul .pay p i{
	width: .28rem;
	height: .28rem;
	background: url(../../src/assets/images/pic_03.png) no-repeat left top;
	background-size: 100%;
}
.Detail .explain ul li span{
	font-size: .24rem;
	color: #666;
}
.Detail .applyFor{
	text-align: center;
	margin-bottom: 1rem;
}
.Detail .applyFor a{
	display: inline-block;
	color: #fff;
	font-size: .36rem;
	width: 6rem;
	height: .9rem;
	line-height: .9rem;
	text-align: center;
	background-image: linear-gradient(-90deg, #443ded 0%, #524bf6 100%), linear-gradient(#fff, #fff);
	box-shadow: 0px 6px 21px 3px rgba(0, 0, 0, 0.15);
	border-radius: .5rem;
}

