/*搜索与筛选 */
.Loan{
	background: #fff;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.Loan .choose{
	height: 2.3rem;
}
.Loan .contain{
	width: 100%;
	height: 2.3rem;
	background: #fff;
	box-shadow: 0px 6px 5px 1px rgba(58, 58, 58, 0.15);
	padding: 0 .4rem .36rem .4rem;
	box-sizing: border-box;
	position: fixed;
	left: 0;
	top: 0;
}
/* .Loan .contain .search{
	text-align: right;
	position: relative;
}
.Loan .contain .search .back{
	display: inline-block;
	width: .23rem;
	height: .42rem;
	background: url(../../src/assets/images/back.png) no-repeat left top;
	background-size: 100%;
	position: absolute;
	top: .74rem;
	left: 0;
}
.Loan .contain .search input{
	width: 6.2rem;
	height: .6rem;
	line-height: .6rem;
	border-radius: .3rem;
	background: #eee;
	padding-left: 1.02rem;
	box-sizing: border-box;
	font-size: .28rem;
	margin-top: .65rem;
}
.Loan .contain .search .loupe{
	display: inline-block;
	width: .36rem;
	height: .36rem;
	background: url(../../src/assets/images/search.png) no-repeat left top;
	background-size: 100%; 
	position: absolute;
	top: .8rem;
	left: .77rem;
} */
.Loan .contain .screen{
	margin-top: -.26rem;
}
.Loan .contain .screen .wrap{
	display: flex;
	position: relative;
}
.Loan .contain .screen .wrap>li{
	flex: 1;
	text-align: center;
	height: .5rem;
	line-height: .5rem;
	font-size: .36rem;
}
.Loan .contain .screen .wrap>li input{
	font-size: .32rem;
	color: #000;
	width: 1.2rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.Loan .contain .screen .wrap .one{
	text-align: left;
}
.Loan .contain .screen .wrap .three{
	text-align: right;
}
.Loan .contain .screen .wrap>li span{
	
}
.Loan .contain .screen .wrap>li i{
	display: inline-block;
	width: .23rem;
	height: .13rem;
	background: url(../../src/assets/images/rocket.png) no-repeat left top;
	background-size: 100%;
	margin-left: .05rem;
	margin-bottom: .05rem;
}
.Loan .contain .screen .wrap>li div{
	background: #fff;
	text-align: center;
	width: 2.2rem;
}
.Loan .contain .screen .wrap>li div ul li{
	font-size: .32rem;
	color: #333;
	margin-top: .05rem;
}
.Loan .contain .screen .wrap .one div{
	position: absolute;
	top: .6rem;
	left: -.7rem;
}
.Loan .contain .screen .wrap .two div{
	position: absolute;
	top: .6rem;
	left: 1.8rem;
}
.Loan .contain .screen .wrap .three div{
	position: absolute;
	top: .6rem;
	right: .1rem;
}




.Loan>ul li{
	background: #fff;
	padding: 0 .4rem;
	margin-top: .2rem;
}
.Loan>ul li a{
	display: flex;
}
.Loan>ul li:last-child{
	margin-bottom: 1.2rem;
}
.Loan>ul li.listItem{
	margin-top: .2rem;
}
.Loan>ul li .picture{
	flex: 1;
}
.Loan>ul li .picture div{
	width: .8rem;
	height: .8rem;
}
.Loan>ul li .picture img{
	width: .8rem;
	height: .8rem;
}
.Loan>ul li .intro{
	display: flex;
	padding-bottom: .15rem;
	margin-top: .2rem;
	flex: 5.5;
	border-bottom: 1px solid #e5e5e5;
}
.Loan>ul li .introYes{
	border-bottom:none;
}
.Loan>ul li .intro .message{
	flex: 3;
}
.Loan>ul li .intro .message .zfb{
	font-size: .32rem;
	color: #0a0a0a;
	font-weight: bold;
	margin-bottom: .16rem;
}
.Loan>ul li .intro .message .date{
	font-size: .24rem;
	color: #666;
	margin-bottom: .2rem;
}
.Loan>ul li .intro .message .tips{
	font-size: .2rem;
	color: #333;
	background: #eee;
	width: 4rem;
	height: .3rem;
	text-align: center;
	line-height: .3rem;
	border-radius: .05rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.Loan>ul li .intro .apply{
	flex: 1;
	text-align: right;
}
.Loan>ul li .intro .apply .most{
	font-size: .22rem;
	color: #666;
}
.Loan>ul li .intro .apply .money{
	font-size: .28rem;
	color: #ff0000;
	margin-bottom: -.6rem;
	margin-top: .1rem;
}
.Loan>ul li .intro .apply a{
	color: #fff;
	font-size: .24rem;
	display: inline-block;
	width: 1.27rem;
	height: .45rem;
	line-height: .45rem;
	text-align: center;
	background-image: linear-gradient(0deg, #433ded 0%, #524bf6 100%), linear-gradient(#398de3, #398de3);
	border-radius: .23rem;
}